<p>dashboard-page works!</p>
<p>stats</p>
<div class="news">
  <p>News:</p>

  <div *ngFor="let item of news">
    {{item.title}}
    <!-- {{item.description}}
    {{item.published_at}} -->
  </div>
</div>
<div class="crypto">
  <p>coin prices:</p>
</div>
<div class="ai">
  <p>ai:</p>
  <!-- <app-ai-insights></app-ai-insights> -->
  <div>

    <div>
      <!-- <h1>{{ title }}</h1>
      <div class="chat-box">
        <div *ngFor="let msg of messages">{{ msg }}</div>
      </div>
      <input [(ngModel)]="message" placeholder="Type a message..." />
      <button (click)="sendMessage()">Send</button>
    </div> -->
      <div *ngFor="let price of prices">
        {{price.id}}
        {{price.usd}}
        {{price.usdChange}}

        <!-- {{item.description}}
    {{item.published_at}} -->
      </div>


    </div>
    <div class="meme">
      <p>meme:</p>
      <img src={{memeUrl}} alt="">
    </div>